<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-gl.min.js"></script>

</head>
<body>
    <div id="eaebf60f468840339e59ec4c4c17666d" class="chart-container" style="width:1440px; height:720px;"></div>
    <script>
        var chart_eaebf60f468840339e59ec4c4c17666d = echarts.init(
            document.getElementById('eaebf60f468840339e59ec4c4c17666d'), 'white', {renderer: 'canvas'});
        var option_eaebf60f468840339e59ec4c4c17666d = {
    "backgroundColor": "black",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter3D",
            "name": "Scatter3D",
            "data": [
                [
                    81,
                    51,
                    22
                ],
                [
                    56,
                    18,
                    41
                ],
                [
                    64,
                    75,
                    99
                ],
                [
                    87,
                    72,
                    13
                ],
                [
                    100,
                    41,
                    44
                ],
                [
                    83,
                    0,
                    8
                ],
                [
                    30,
                    8,
                    30
                ],
                [
                    78,
                    61,
                    82
                ],
                [
                    92,
                    66,
                    2
                ],
                [
                    89,
                    35,
                    93
                ],
                [
                    39,
                    23,
                    44
                ],
                [
                    86,
                    35,
                    51
                ],
                [
                    9,
                    40,
                    21
                ],
                [
                    38,
                    4,
                    83
                ],
                [
                    73,
                    67,
                    57
                ],
                [
                    60,
                    36,
                    27
                ],
                [
                    4,
                    7,
                    55
                ],
                [
                    45,
                    53,
                    45
                ],
                [
                    25,
                    73,
                    59
                ],
                [
                    34,
                    34,
                    58
                ],
                [
                    86,
                    68,
                    31
                ],
                [
                    0,
                    69,
                    11
                ],
                [
                    93,
                    99,
                    89
                ],
                [
                    50,
                    58,
                    32
                ],
                [
                    89,
                    58,
                    39
                ],
                [
                    11,
                    70,
                    41
                ],
                [
                    81,
                    83,
                    96
                ],
                [
                    60,
                    83,
                    8
                ],
                [
                    74,
                    83,
                    4
                ],
                [
                    32,
                    88,
                    97
                ],
                [
                    86,
                    32,
                    94
                ],
                [
                    18,
                    75,
                    27
                ],
                [
                    29,
                    45,
                    33
                ],
                [
                    12,
                    52,
                    5
                ],
                [
                    51,
                    43,
                    28
                ],
                [
                    48,
                    47,
                    64
                ],
                [
                    2,
                    38,
                    87
                ],
                [
                    38,
                    38,
                    31
                ],
                [
                    28,
                    70,
                    32
                ],
                [
                    63,
                    22,
                    61
                ],
                [
                    5,
                    85,
                    42
                ],
                [
                    55,
                    18,
                    42
                ],
                [
                    70,
                    11,
                    73
                ],
                [
                    63,
                    48,
                    80
                ],
                [
                    16,
                    61,
                    65
                ],
                [
                    58,
                    55,
                    23
                ],
                [
                    99,
                    42,
                    0
                ],
                [
                    73,
                    62,
                    60
                ],
                [
                    63,
                    52,
                    24
                ],
                [
                    78,
                    60,
                    81
                ],
                [
                    63,
                    41,
                    81
                ],
                [
                    42,
                    1,
                    79
                ],
                [
                    61,
                    60,
                    72
                ],
                [
                    54,
                    32,
                    97
                ],
                [
                    18,
                    70,
                    84
                ],
                [
                    84,
                    80,
                    21
                ],
                [
                    56,
                    19,
                    3
                ],
                [
                    93,
                    89,
                    72
                ],
                [
                    64,
                    91,
                    29
                ],
                [
                    84,
                    20,
                    7
                ],
                [
                    28,
                    13,
                    86
                ],
                [
                    23,
                    5,
                    36
                ],
                [
                    83,
                    91,
                    97
                ],
                [
                    68,
                    14,
                    92
                ],
                [
                    17,
                    92,
                    54
                ],
                [
                    51,
                    59,
                    23
                ],
                [
                    77,
                    28,
                    26
                ],
                [
                    16,
                    70,
                    21
                ],
                [
                    36,
                    58,
                    15
                ],
                [
                    48,
                    32,
                    12
                ],
                [
                    64,
                    51,
                    100
                ],
                [
                    83,
                    3,
                    86
                ],
                [
                    95,
                    89,
                    28
                ],
                [
                    10,
                    14,
                    94
                ],
                [
                    89,
                    63,
                    18
                ],
                [
                    88,
                    56,
                    62
                ],
                [
                    76,
                    0,
                    34
                ],
                [
                    11,
                    91,
                    95
                ],
                [
                    68,
                    34,
                    86
                ],
                [
                    94,
                    55,
                    70
                ]
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Scatter3D"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis3D": {
        "nameGap": 20,
        "type": "category",
        "axisLabel": {
            "margin": 8
        }
    },
    "yAxis3D": {
        "nameGap": 20,
        "type": "category",
        "axisLabel": {
            "margin": 8
        }
    },
    "zAxis3D": {
        "nameGap": 20,
        "type": "value",
        "axisLabel": {
            "margin": 8
        }
    },
    "grid3D": {
        "boxWidth": 100,
        "boxHeight": 100,
        "boxDepth": 100,
        "viewControl": {
            "autoRotate": true,
            "autoRotateSpeed": 500,
            "rotateSensitivity": 1
        }
    },
    "title": [
        {
            "text": "Scatter_3D",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "color": "#FFFFFF",
                "fontSize": 25,
                "borderColor": "white",
                "borderRadius": true
            }
        }
    ]
};
        chart_eaebf60f468840339e59ec4c4c17666d.setOption(option_eaebf60f468840339e59ec4c4c17666d);
    </script>
</body>
</html>
