<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="010ad2c5b1bb456796efac2362b72ed6" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_010ad2c5b1bb456796efac2362b72ed6 = echarts.init(
            document.getElementById('010ad2c5b1bb456796efac2362b72ed6'), 'white', {renderer: 'canvas'});
        var option_010ad2c5b1bb456796efac2362b72ed6 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u6392\u5217",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,137,123)"
                        }
                    }
                },
                {
                    "name": "\u6392\u5217\u7ec4\u5408",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,36,28)"
                        }
                    }
                },
                {
                    "name": "\u7ec4\u5408",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,41,32)"
                        }
                    }
                },
                {
                    "name": "\u6a21\u5757",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(125,134,55)"
                        }
                    }
                },
                {
                    "name": "\u8c03\u7528",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(150,122,90)"
                        }
                    }
                },
                {
                    "name": "\u968f\u673a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,55,16)"
                        }
                    }
                },
                {
                    "name": "\u731c\u6d4b",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,110,107)"
                        }
                    }
                },
                {
                    "name": "\u6570\u5b57",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,152,127)"
                        }
                    }
                },
                {
                    "name": "\u51c6\u786e",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,48,159)"
                        }
                    }
                },
                {
                    "name": "\u8bb0\u5f55",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(93,77,49)"
                        }
                    }
                },
                {
                    "name": "\u6b21\u6570",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,116,130)"
                        }
                    }
                },
                {
                    "name": "\u65f6\u957f",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,33,16)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "normal": {
                    "fontFamily": "cursive"
                },
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "QA\u95ee\u7b54\u5173\u952e\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_010ad2c5b1bb456796efac2362b72ed6.setOption(option_010ad2c5b1bb456796efac2362b72ed6);
    </script>
</body>
</html>
